@import 'partials';

body {
    margin: 0%;
    padding: 0%;
    font-family: 'Avenir';
}


// Header Section
.header__logo--bio {
    text-decoration: none;
}

.header__logo--shows {
    text-decoration: none;
}

.header {
    background-color: $primary-color;
    display: flex;
   flex-direction: column;

@include tablet {
  flex-direction: row;
}

@include desktop {
    flex-direction: row;
   
}


&__logo {
    height: 1.5rem;

    justify-content: center;
   padding-left: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

@include tablet {
    padding-left: 3rem;
    height: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@include desktop {
    height: 1.5rem;
}

}

&--sub {
    display: flex;
}
}

.header__logo--sub {
    display: flex;
    justify-content: space-evenly;
  padding-bottom: 1.5rem;

@include tablet {
    font-size: larger;
    padding-left: 3rem;
    padding-top: 2rem;
}

}

.header__logo--bio {
height: 0.5rem;
color: $white-color1;

@include tablet {
    padding-right: 3rem;
}


}

.header__logo--shows {
    height: 0.5rem;
    color: $white-color1; 
}



// Hero Image 

.heroimage {
width: 100%;
background-image: url(../Assets/Images/hero-bio.jpg);
min-height: 50vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
display: flex;
flex-direction: column;
justify-content: center;

&__text {
    color: $white-color1;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 2rem;

@include tablet {
    font-size: 3rem;
}

}

}

// About the Music

.aboutpage {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;

    @include tablet {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    &__content {
        @include tablet {
            padding-left: 8rem;
            padding-right: 8rem;
        }

        @include desktop {
            padding-left: 20rem;
            padding-right: 20rem;
        }
    }

  

    &__title {
        
        @include tablet {
            padding-left: 2rem;
            font-size: 2.4rem;
        }

        @include desktop {
            padding-left: 8rem;
            font-size: 3rem;
            font-weight: bolder;
        }
    }

    &__image {
        width: 100%;
        height: 100%;

        @include tablet {
            width: 100%;
            height: 70%;
        }

        @include desktop {
            height: 40rem;
        }

    }

    &__qoute {
        font-weight: 600;

        @include tablet {
            font-weight: 800;
            font-size: 1.2rem;
        }

        @include desktop {
            font-weight: 800;
            font-size: 2rem;
            padding-top: 1rem;
        }
    }

    &__name {
        font-weight: 600;

        @include tablet {
            
            font-size: 1.2rem;
        }

        @include desktop {
            
            font-size: 1.5rem;
            padding-bottom: 2rem;
        }
    }


    &__info--para {
        @include tablet {
            display: flex;
        }
    }

    &__info--para1 {
        @include tablet {
            padding-right: 1rem;
        }

        @include desktop {
            font-size: 1.2rem;
        }
    }

    &__info--para2 {
        @include desktop {
            font-size: 1.2rem;
        }
    }
   
}

.aboutpage__info--title {
    font-weight: 800;
            font-size: 2rem;
            
}

// Photos

.photos {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem 1rem 1.5rem;

     @include tablet {
        
        flex-direction: row;
        flex-wrap: wrap;
     }

     @include desktop {
        padding-left: 4rem;
        
     }

    &__images {
        height: 100%;
        width: 100%;
        margin-top: 0.5rem;
       @include tablet {
        height: 14rem;
        width: 15.5rem;
        padding-right: 0.2rem;
       }

       @include desktop {
        height: 18rem;
        width: 27rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
       }
        
    }

    &__heading {
        padding-left: 1rem;
        font-size: 2rem;
        font-weight: 700;
        @include desktop {
        padding-left: 10rem;
        font-weight: bolder;
    }
    }
}

.photos__images1 {
    justify-content: center;
    @include tablet {
justify-content: center;
    }
   @include desktop { padding-left: 10rem;}
}

.C {
    @include desktop {
        padding-left: 4rem;
        justify-content: center;
    }
    
}

// Footer 

.footer {
    display: flex;
    flex-direction: column;
    background-color: $primary-color;
    color: $white-color1;
    padding: 0 1.5rem;
@include tablet {
    padding-bottom: 2rem;
}

@include desktop {
    padding-left: 6rem;
}
    &__logos {
        list-style: none;
        display: flex;
        padding-left: 0%;

        @include tablet {
            padding-left: 1.5rem;
            padding-top: 0.5rem;
        }
    }
    
    &_img {
        padding-right: 1.5rem;
        height: 1.5rem;
    }
}

.footer__heading {
  @include tablet {
    display: flex;
  }
}

.contactinfo {
padding-bottom: 2rem;

&__contact {
    padding-bottom: 1rem;

    @include tablet {
        padding-right: 1rem;
    }

    @include desktop {
        padding-right: 3rem;
    }
}

@include tablet {
    display: flex;
    flex-direction: row;
    
}

@include desktop {
    
}

}

.contactinfo__email {
    text-decoration: none;
    color: $white-color1;
}

.contactinfo__name {
    margin-bottom: 0%;
}

.contactinfo__tite {
    margin-top: 0%;
}

.contactinfo__add {
    margin-bottom: 0%;
}

.contactinfo__add2 {
    margin-top: 0%;
}

.contactinfo__ad {
    margin-top: 0%;
}

.footerlogo {
    height: 2.5rem;
    width: 7rem;

    @include tablet {
        display: flex;
        order: -1;
        justify-content: flex-end;
        justify-content: right;
        align-self: flex-end;
        padding-top: 1rem;
    }

    @include desktop {
        padding-right: 8rem;
        height: 4rem;
        width: 9rem;
    }
}







// Join the Conversation Page 

.maincontainer {
display: flex;
flex-direction: column;
width: 100%;

&__heading {
    padding-left: 1rem;
    @include desktop {
        align-self: center;
        padding-right: 55%;
    }
}

}

.maincontainer__heading {
    @include desktop {
        font-size: 3rem;
    }
}

.formandcommentcont {
    padding-left: 1rem;
    padding-right: 1rem;

    @include tablet {
        width: 70%;
        align-self: center;
    }

    @include desktop {
        width: 40%;
        align-self: center;
    }
}


.formsubmitandlogo {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 1rem;
}

.formlogo {
    background-image:  url("../Assets/Images/Mohan-muruge.jpg");
    height: 3rem;
    width: 3.5rem;
    border-radius: 50%;
    background-size: cover;
    margin-right: 1.5rem;
    
}

#comment-form {
    display: flex;
    width: 100%;
    flex-direction: column; 
      
}

.names {
    color: #20050556;
    font-weight: bolder;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;

    @include desktop {
        font-size: 1rem;
    }
}

.commentz {
    color: #20050556;
    font-weight: bolder;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
    @include desktop {
        font-size: 1rem;
    }
}

#name-input {
    width: 100%;
    height: 1.8rem;
    background-color: #FAFAFA;
    border: 2px solid #e1e1e1;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
    @include desktop {
        height: 2.5rem;
    }
}

#name-input::placeholder {
    color: black;
    font-size: 0.8;
    padding-left: 1rem;
    @include desktop {
        font-size: 1rem;
    }
  }

#comment-input {
    width: 100%;
    height: 6rem;
    background-color: #FAFAFA;
    border: 2px solid #e1e1e1;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
    @include desktop {
        height: 8rem;
    }
}

#comment-input::placeholder {
    color: black;
    font-size: 0.8;
    padding-left: 1rem;
    
    @include desktop {
        font-size: 1rem;
    }
    
  }

.commentbtn {
    background-color: #323232;
    color: #FFFFFF;
    width: 100%;
    border-radius: 0.2rem;
    height: 2.5rem;
    border: none;
    @include tablet {
        width: 30%;
        
        align-self: flex-end;
    }
    @include desktop {
        font-size: 1rem;
        border-radius: 0.3rem;
        height: 3rem;
    }
}


.comment {
    display: flex;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 1rem;
}

.name-timestamp-container {
    display: flex;
    justify-content: space-between;
}

.name-timestamp-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    background-color: #323232;
    background-image: url(../Assets/Images/logo.png);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-size: cover;
    margin-right: 1.5rem;
}


.name {
    color: $font-color2;
    font-size: 1rem;
    font-weight: 600;
}

.timestamp {
    font-size: 0.9rem;
    color: #20050556;;
}
